body {
    background-color: #FDFDFD;
    margin: 0em;
}

@media only screen and (min-width: 1000px) {
    #main {
        width: 1000px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 480px) and (max-width: 999px) {
    #main {
        width: 75%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 479px) {
    #main {
        width: 100%;
    }
}

#big-link-container {
    margin: 4em 2em;
}

a {
    text-decoration: none;
    color: black;
}

.big-link {
    font-size: 2em;
    margin: 0.5em 0;
    transition: margin 0.2s, color 0.2s;
}

.big-link:hover {
    margin-left: 0.2em;
    color: #777;
}

#logo-container {
    text-align: center;
    margin: 2em 0;
}

#logo-img {
    height: 4em;
}

#footer {
    text-align: center;
    color: #333;
    font-family: monospace;
    font-size: 1.2em;
    padding: 1em;
}
