body {
    background-color: #FDFDFD;
    margin: 0em;
}

@media only screen and (min-width: 1000px) {
    #main {
        width: 1000px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 480px) and (max-width: 999px) {
    #main {
        min-width: 480px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 479px) {
    #main {
        width: 100%;
    }
}

#big-link-container {
    margin: 4em;
}

.big-link {
    font-size: 2em;
    margin: 0.5em 0;
}

#logo-img {
    height: 4em;
    margin-bottom: 2em;
}
